{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %} ">
    <script src="https://kit.fontawesome.com/f9a01ea1da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'owlcarousel/css/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href="{% static 'owlcarousel/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    {% include "./includes/header.html" %}





    {% block content %}

    {% endblock %}





    {% include "./includes/footer.html"%} 




</body>
</html>