{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %} ">
    <script src="https://kit.fontawesome.com/f9a01ea1da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>404 Not Founded</title>
</head>
<body>
    <main id="error-page">
        <div class="container">
            <img src="{% static 'images/icons/error.png' %}" alt="404 Not found">
            <h1>Oops</h1>
            <p>Something went wrong.<br>Please try again.</p>
            <a href="/" class="btn btn-pink-radius">Go to Homepage</a>
        </div>
    </main>
</body>
</html>